/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');

/* Tailwind & DaisyUI */
@import "tailwindcss";
@plugin "daisyui";

/* Google Font Class */
.saira-font {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body{
  background-color: white;
  color: black;
  /* max-width: 1920px;
  margin: auto; */
}